extends layout

block content
  div#AppCtrl.container
    div.row
      input(type="text", v-model="newPlayerName")
      button(v-on="click: addNewPlayer()") Add
      button(v-on="click: loadAll()") Whole Office

      table
        thead
          tr
            th Player Name
            th
        tbody
          tr(v-repeat="player : players")
            td {{ player }}
            td
              button(v-on="click: removePlayer(player)") Remove

      p

      button(v-on="click: formTeams()") Form Teams

    div.row
      table
        thead
          tr
            th Team
        tbody
          tr(v-repeat="players : teams")
            td {{ players }}

      button(v-on="click: resetTeams()") Reset Teams

  script(src='https://code.jquery.com/jquery-1.11.3.min.js')
  script(src='js/lib/lodash-3.10.1.js')
  script(src='js/lib/vue.dev.js')
  script(src='js/app.js')