extends layout

block content
  div(ng-controller='AppCtrl')
    div(ng-view)

  script(src='js/lib/lodash-3.10.1.js')
  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular/angular-ui-router.js')
  script(src='js/constants.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/states.js')
  script(src='js/app.js')
