extends layout

block content
  div#my-vue-instance.container
    div.row

      h4 {{ string | upper }}
      h4 {{ string | lower }}

  div#another-vue-instance.container
    div.row
      h4 {{ string | upper }}
      h4 {{ string | lower }}

  script(src='https://code.jquery.com/jquery-1.11.3.min.js')
  script(src='js/lib/lodash-3.10.1.js')
  script(src='js/lib/vue.dev.js')
  script(src='js/app.js')