extends layout

block content
  div#my-vue-instance.container
    div.row
      UI Element
    input(type="text", v-model="textInput" class="form-control")

    p

    div.row
      Vue Instance data object

    {{ $data | json }}

  script(src='js/lib/lodash-3.10.1.js')
  script(src='js/lib/vue.dev.js')
  script(src='js/app.js')